# Dependencies
node_modules/
dist/

# Local configuration and credentials
.env
auth_session/

# Temp files and outputs
temp/
temp_outputs/
backups/

# Database files
*.db
*.db-journal
*.db-shm
*.db-wal

# WhatsApp session credentials
wa-session/

# Local states
src/config/plugins_state.json
data/
